{% extends "base_generic.html" %}

{% block title %}<title>Local Library</title>{% endblock %}

{% block content %}
<h1>Local Library Home</h1>

<p>Добро пожаловать в <em>LocalLibrary</em>, очень простой веб-сайт на Django, разработанный в качестве обучающего примера в Mozilla Developer Network.</p>

<h2>Динамический контент</h2>

<p>В библиотеке имеется следующее количество записей:</p>
<ul>
  <li><strong>Книги:</strong> {{ num_books }}</li>
  <li><strong>Копии:</strong> {{ num_instances }}</li>
  <li><strong>Доступные копии:</strong> {{ num_instances_available }}</li>
  <li><strong>Авторы:</strong> {{ num_authors }}</li>
</ul>

<p>
  Вы посетили эту страницу {{ num_visits }}{% if num_visits == 1 %} time {% else %} times{% endif %}.
</p>

{% endblock %}